@import url(../../../stylesheets/application.css);
@import url(fonts.css);

/* Colours:

   #be5700 link (orange)

   #3e442c text (dark green)
   (OK for headings, but small text is easier to read in black)

   #ffa801 logo (yellow)

   #525a38 logotype (olive)

   #fdfaf0 background (cream)

   #fdfbf5 alternate background (lighter cream)

   #ffe69b highlight (light yellow)

   #a9b680 detail (light green)
*/

body {
  background: #fdfbf5;
  color: #000;
  margin: 0;
  margin-bottom: 40px;
/*  font-size: 95%;  */
}

h1 {
  color: #3e442c;
  font-family: GilliusADFNo2, 'Gill Sans', Tahoma, sans-serif;
  font-weight: normal;
}    

body,p,h2,h3,h4,li,table,.wiki h1 { 
  font-family: DroidSans, 'Liberation Sans', tahoma, verdana, sans-serif; 
}

h2,h3,h4,.wiki h1 {
  color: #3e442c;
}

h2,.wiki h1 {
    font-size: 1.8em;
}

.box {
    padding: 6px;
    margin-bottom: 10px;
    background-color: #fdfaf0;
    color: #3e442c;
    line-height: 1.5em;
    border: 1px solid #a9b680;
    border-left: 4px solid #a9b680;
}

.odd {background-color:#fdf7e4;}
.even {background-color: #fdfaf0;}

#content .tabs { margin-bottom: 0; }

table.list th {  background-color: #fdfaf0; border-bottom: 1px solid #a9b680; }
table.list { border: 1px solid #a9b680; /* border-left: 4px solid #a9b680; */ }
tr.entry { border-left: 1px solid #a9b680; border-right: 1px solid #a9b680; }
tr.entry:last-child { border-bottom: 1px solid #a9b680; }

table.projects th { text-align: left; }
table.projects th.managers { color: #3e442c; }
table.projects .root .name { font-size: 1.2em; padding-top: 0.3em; }
table.projects .description { padding-bottom: 0.5em; }
table.projects .no_description { padding-bottom: 0.5em; }
table.projects .hosted_here { font-weight: bold; }
table.projects .child .name { font-weight: normal; }
table.projects .child .description { font-size: 0.95em; }
table.projects .child .firstcol { padding-left: 1em }
table.projects .level2 .firstcol { padding-left: 2em; }
table.projects .level3 .firstcol { padding-left: 3em; }

ul.projects .public, ul.projects .private { padding-left: 0.5em; color: #3e442c; font-size: 0.95em }

#top-menu { position: absolute; top: 0; z-index: 1; left: 0px; width: 100%; font-size: 90%; /* height: 2em; */ margin: 0; padding: 0; padding-top: 0.5em; background-color: #3e442c; }
#top-menu ul { margin-left: 10px; }
#top-menu a { font-weight: bold; }
#header {  position: absolute; z-index: 0; top: 0; width: 100%; background: #fdfbf5; border-bottom: 2px solid #a9b680; /* height:80px; */ padding: 20px 0 0.5em 0; margin-bottom: 0; }
#header a { color: #be5700; }
#header h1 { color: #525a38; margin-top: 25px; font-size: 3em; font-weight: normal; margin-left: 10px; }
.header-general h1 {
  background: url('soundsoftware-logo-title-only-transparent-beta.png') no-repeat 0 0;
  text-indent: -9999px;
  width: 500px;
  height: 34px;
 }
 
#quick-search { margin-right: 6px; margin-top: 1em; color: #000; }
#project-jump-box { float: right;  margin-right: 6px; margin-top: 5px; color: #000; }
#project-ancestors-title {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 6px;
    font-family: GilliusADFNo2, 'Gill Sans', Tahoma, sans-serif;
    font-weight: normal;
}

#main-menu { position: absolute; top: 100px; /* background-color: #be5700; */ left: 0; border-top: 0; width: 100%;/* height: 1.82em; */ padding: 0; margin: 0; border: 0; }
#main-menu li { margin: 0; padding: 0; }
#main-menu li a { background-color: #fdfbf5; color: #be5700; border-right: 1px solid #a9b680; font-size: 97%; padding: 0em 8px 0.2em 10px; font-weight: normal; }
#main-menu li:last-child a { border-right: 0; }
#main-menu li a:hover { background-color: #fdfbf5; color: #be5700; text-decoration: underline; }
#main-menu li a.selected, #main-menu li a.selected:hover { background-color: #fdfbf5; color: #3e442c; }

#footer { background-color: #fdfbf5; border: 0; border-top: 2px solid #a9b680; color: #3e442c; text-align: right; }
#footer a { color: #be5700; font-weight: bold; }

#main { margin-top: 135px; font:95%; background: #fdfaf0; }
#main a { font-weight: medium; color: #be5700;}
#main a:hover { color: #be5700; text-decoration: underline; }
#content { background: #fdfbf5; }
/*#content .tabs ul { bottom:-1px; }
*/
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; }
/*h2, .wiki h1 { letter-spacing:-1px; }
*/
h4 { border-bottom: dotted 1px #c0c0c0; }

div.issue { background: #fdfaf0; border: 1px solid #a9b680; border-left: 4px solid #a9b680; }

#top-menu a.home, #top-menu a.my-page, #top-menu a.projects, #top-menu a.administration, #top-menu a.help { 
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#top-menu a.home { background-image: url(../images/home.png); }
#top-menu a.my-page { background-image: url(../../../images/user.png); }
#top-menu a.projects { background-image: url(../../../images/projects.png); }
#top-menu a.administration { background-image: url(../images/wrench.png); }
#top-menu a.help { background-image: url(../../../images/help.png); }

/* for Javadoc in Embedded context: */

.TableHeadingColor { background-color: #fdf7e4; color: #3e442c; border: 0px solid #fff; }
.TableHeadingColor th { background-color: #fdf7e4; color: #3e442c; border: 1px solid #a9b680; }
.TableHeadingColor th font { font-size: 1.4em; color: #3e442c; }
.TableSubHeadingColor { background-color: #fdfaf0; color: #3e442c; border: 0px solid #fff; }
.TableSubHeadingColor th { background-color: #fdfaf0; color: #3e442c; border: 1px solid #a9b680; }
.TableRowColor { background-color: #fdfbf5; color: #000000; border: 0; }
.TableRowColor td { background-color: #fdfbf5; color: #000000; border: 0; }
.NavBarCell1 { background-color: #ffe69b; color:#000000 }
.embedded table { border: 0px solid #fff; }
.embedded h3 { margin-top: 0.5em; }
.embedded hr { color: #a9b680; background-color: #a9b680 }
.embedded center { text-align: left; } /* haha */

/* Special hack to hide the FRAMES | NO FRAMES links -- they don't
   work in this context -- and right-align the All Classes link */
.embedded .NavBarCell2 a[target=_top] { width: 0px; visibility: hidden; }
.embedded .NavBarCell2 + .NavBarCell2 { text-align: right; }
