
@font-face {
    font-family: 'Insider';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/24BC0E_0_0.eot');
    src: url('fonts/24BC0E_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/24BC0E_0_0.woff') format('woff'), url('fonts/24BC0E_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Insider';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/276F6F_0_0.eot');
    src: url('fonts/276F6F_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/276F6F_0_0.woff') format('woff'), url('fonts/276F6F_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Insider';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/24BC35_0_0.eot');
    src: url('fonts/24BC35_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/24BC35_0_0.woff') format('woff'), url('fonts/24BC35_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Insider-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/24BC0E_0_0.eot');
    src: url('fonts/24BC0E_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/24BC0E_0_0.woff') format('woff'), url('fonts/24BC0E_0_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'Insider-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/24BC35_0_0.eot');
    src: url('fonts/24BC35_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/24BC35_0_0.woff') format('woff'), url('fonts/24BC35_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceCodePro-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/SourceCodePro-Regular-webfont.eot');
    src: url('fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SourceCodePro-Regular-webfont.woff') format('woff'), url('fonts/SourceCodePro-Regular-webfont.ttf') format('truetype');
}
