
<% if not Setting.notifications_text.empty? %>
  <div class="notifications flash newsalert">
    <%= textilizable Setting.notifications_text %> 
  </div>
<% end %>

<div id="welcomepage">

<%= textilizable Setting.welcome_text %>

</div>
  
<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>

