<p><%= l(:mail_body_account_activation_request, h(@user.login)) %></p>
<p><%= link_to @url, @url %></p>

<h4><%= l(:label_ssamr_details) %></h4>
<p><%= textilizable @user.ssamr_user_detail['description'] %></p>

