<% events = @events_by_day %>
<% if (events.nil?) 
     activity = Redmine::Activity::Fetcher.new(User.anonymous)
     days = Setting.activity_days_default.to_i
     events = activity.events(Date.today - days, Date.today + 1)
   end
%>

<% if events.empty? %>

<% else %>

   <ul>

   <% 
      for institution in busy_institutions(events, 5)
   %>

   <li class="busy">
     <span class="title">
       <%= link_to h(institution), { :controller => 'activities', :institution => institution } %>
     </span>
   </li>

    <% end %>
  </ul>
<% end %>

