<% events = @events_by_day %>
<% max = 5 %>
<% if (events.nil?) 
     activity = Redmine::Activity::Fetcher.new(User.current)
     events = activity.events(Date.today - 14, Date.today + 1)
   end
%>

<% if events.empty? %>

<% else %>

   <ul>

   <% 
      authors = events.map { |e| e.event_author unless !e.respond_to?(:event_author) }.compact
      institutions = authors.map { |a| a.ssamr_user_detail.institution_name }
      insthash = institutions.compact.sort.group_by { |i| i }
      insthash = insthash.merge(insthash) { |k,v| v.length }
      threshold = insthash.values.sort.last(max).first
      busy = insthash.keys.select { |k| insthash[k] >= threshold }.sample(max)

      for institution in busy
   %>

   <li class="busy">
     <span class="title">
       <%= link_to h(institution), { :controller => 'activities', :institution => institution } %>
     </span>
   </li>

    <% end %>
  </ul>
<% end %>
